node_modules
dist
.data
.env
*.log
release/
dist-apk/
keystore/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/assets/public/
android/capacitor-cordova-android-plugins/
